.unity-base-dropdown .unity-scroll-view {
    background-color: rgb(10, 8, 2);
    color: rgb(249, 175, 149);
    border-color: rgba(255, 161, 129, 0.5);
    border-radius: 5px;
}

.unity-base-dropdown__container-outer {
    border-color: rgba(255, 161, 129, 0.5);
    border-radius: 5px;
}

.unity-base-dropdown__label
{
    color: rgb(249, 175, 149);
    font-size: 24px;
}

.unity-base-dropdown__item:hover
{
    background-color:  rgba(255, 161, 129, 0.1);
}


