.sg-shader-globals__list {
    flex-grow: 1;
    max-height: none;
}

.sg-shader-globals__list .unity-foldout__content {
    margin-left: 15px;
}

.sg-shader-globals__list .unity-base-field {
    margin-left: 2px;
    margin-right: 2px;
}
